min(a,b)
  a - b
nth-of-type(i)
  for index in i
    &:nth-of-type({index})
      z-index min(11,index)

body
  margin 0
  font-family Arial "microsoft yahei"
  color #666
  position: relative
.page
  height 100%
  width 100%
  position absolute
  left 0
  top 0
  font-size 26px
  overflow hidden
  background white
  z-index 1
  nth-of-type(1 2 3 4 5)
